<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="fatal" name="suppport" monitorInterval="60">
    <Appenders>
        <Console name="LogAll">
            <PatternLayout pattern="%5p %d{dd-MM-yyyy HH:mm:ss,SSS} [%t] (%F:%L) - %m%n"/>
        </Console>
<!--
        <RollingFile name="LogAll" fileName="log\ArcConvert.log" filePattern="log\ArcConvert.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="%5p %d{dd-MM-yyyy HH:mm:ss,SSS} [%t] (%F:%L) - %m%n"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </RollingFile>
-->
    </Appenders>
    <Loggers>
        <!-- <Logger name="com.infotel" level="info" additivity="false">
            <AppenderRef ref="LogAll" />
        </Logger> -->
        <!-- INFO DEBUG TRACE -->
        <Root level="INFO">
            <AppenderRef ref="LogAll"/>
        </Root>
    </Loggers>
</Configuration>